body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3a3b3c;
}

.calculator {
  width: 200px;
  height: 320px;
  border: 1px solid black;
  padding: 30px;
  background-color: #000;
}

.display {
  width: 100%;
  height: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: white;
}

.tasters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 30px;
}

.tasters div {
  border: 1px solid black;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
}

.taster.operator {
  background-color: orange;
  color: #fff;
}
